*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/.name
/.idea/AndroidProjectSystem.xml
/.idea/appInsightsSettings.xml
/.idea/claudeCodeTabState.xml
/.idea/deploymentTargetSelector.xml
/.idea/inspectionProfiles/
/.idea/migrations.xml
/.idea/artifacts/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/
secret-key.ascii
secring.gpg
